@import './Variables.scss';



@mixin buttonStyle($colorText, $backgroundColor){
    width: 160px;
    height: 48px;
    color: $colorText;
    background-color: $backgroundColor;
    border: none;
    
}

.button-dark-orange{
    @include buttonStyle(white,$dark-orange );
    :hover{
        @include buttonStyle(white, $orange )
    }
}


.button-white{
    @include buttonStyle(black, $white );
    :hover{
        @include buttonStyle(white,black )
    }
}
.button-black{
    @include buttonStyle($white, $black );
    :hover{
        @include buttonStyle(black,white )
    }
}
.button-transparent{
    @include buttonStyle($black, #e7e7e7 );
    border: black 1px solid;
    :hover{
        @include buttonStyle(white,white )
    }
}


.button-shop{
    width: 57px;
    height: 18px;
    color: black;
    span{
        color:$dark-orange ;
    }
    :hover{
        color: $dark-orange;
    }
}

