@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
.button-dark-orange {
  width: 160px;
  height: 48px;
  color: white;
  background-color: #D87D4A;
  border: none;
}
.button-dark-orange :hover {
  width: 160px;
  height: 48px;
  color: white;
  background-color: #fbaf85;
  border: none;
}

.button-white {
  width: 160px;
  height: 48px;
  color: black;
  background-color: #FFFFFF;
  border: none;
}
.button-white :hover {
  width: 160px;
  height: 48px;
  color: white;
  background-color: black;
  border: none;
}

.button-black {
  width: 160px;
  height: 48px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}
.button-black :hover {
  width: 160px;
  height: 48px;
  color: black;
  background-color: white;
  border: none;
}

.button-transparent {
  width: 160px;
  height: 48px;
  color: #000000;
  background-color: #e7e7e7;
  border: none;
  border: black 1px solid;
}
.button-transparent :hover {
  width: 160px;
  height: 48px;
  color: white;
  background-color: white;
  border: none;
}

.button-shop {
  width: 57px;
  height: 18px;
  color: black;
}
.button-shop span {
  color: #D87D4A;
}
.button-shop :hover {
  color: #D87D4A;
}

.home-top-page {
  width: 100%;
  height: 70vh;
  display: grid;
  align-content: center;
  justify-items: center;
  background-image: url("../assets/home/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.home-top-page h3 {
  color: #f1f1f1;
}
.home-top-page h1 {
  color: #FFFFFF;
  font-size: 3.6rem;
}
.home-top-page p {
  text-align: center;
  color: #f1f1f1;
  padding: 10px;
}

.home-products .products {
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 30px 0;
}
.home-products .products .main-square {
  min-width: 330px;
  width: 100%;
  height: 284px;
  display: grid;
  padding: 20px;
  align-items: flex-end;
}
.home-products .products .main-square .second-square {
  min-width: 100%;
  height: 204px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  border-radius: 10px;
}
.home-products .products .main-square .second-square img {
  position: relative;
  bottom: 50px;
  left: 30px;
  width: 100px;
  height: 100px;
}
.home-products .products .main-square .second-square button {
  border: none;
}
.home-products .products .main-square .second-square button span {
  color: #fbaf85;
}
.home-products .products .main-square .second-square button :hover {
  color: black;
}

.home-cards {
  background-color: #FFFFFF;
  margin: 20px;
  display: grid;
  justify-items: center;
}
.home-cards .orange-card {
  background-color: #D87D4A;
  min-width: 280px;
  width: 100%;
  height: 600px;
  padding: 20px;
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.home-cards .orange-card h2, .home-cards .orange-card p {
  color: white;
}
.home-cards .gray-card {
  margin: 20px 0;
  border-radius: 10px;
  min-width: 327px;
  width: 100%;
  height: 320px;
  background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-items: center;
}
.home-cards .black-and-yx1-cards {
  width: 100%;
}
.home-cards .black-and-yx1-cards .black-card {
  min-width: 327px;
  height: 300px;
  width: 100%;
  background-image: url("../assets/home/mobile/image-earphones-yx1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.home-cards .black-and-yx1-cards .yx1-card {
  margin: 20px 0;
  min-width: 327px;
  height: 300px;
  width: 100%;
  background-color: #F1F1F1;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.bringing-card {
  margin: 20px;
  display: grid;
  grid-gap: 10px;
}
.bringing-card .image1 {
  min-width: 327px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.bringing-card .image2 {
  display: none;
}
.bringing-card h4 span {
  color: #fbaf85;
}

.footer {
  background-color: black;
}
.footer .footer-card {
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  margin: 0 20px;
}
.footer .footer-card .footer-card-menu p {
  color: white;
}
.footer .footer-card p {
  color: #f1f1f1;
}
.footer .footer-card .footer-icons {
  display: flex;
  justify-content: space-around;
}
.footer .footer-card .footer-icons i {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .home-top-page {
    background-image: url("../assets/home/tablet/image-header.jpg");
    background-position: center;
    background-size: cover;
  }
  .home-top-page .body {
    padding: 10px 100px;
  }

  .home-products .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 50px 0;
  }
  .home-products .products .main-square {
    min-width: 223px;
    width: 100%;
    height: 217px;
  }

  .home-cards .gray-card {
    background-image: url("../assets/home/tablet/image-speaker-zx7.jpg");
    justify-content: start;
    padding-left: 20px;
  }

  .black-and-yx1-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  .black-and-yx1-cards .yx1-card {
    align-content: center;
  }
  .black-and-yx1-cards .yx1-card h4 {
    margin: 20px 0;
  }

  .bringing-card .image1 {
    display: none;
  }
  .bringing-card .image2 {
    display: inline;
    width: 100%;
    min-width: 689px;
    height: 300px;
  }
  .bringing-card h4 {
    font-size: 4rem;
    text-align: center;
  }
  .bringing-card p {
    padding: 0 50px;
  }

  .footer .footer-card {
    justify-items: start;
  }
  .footer .footer-card-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .footer .footer-last-part {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
  }
  .footer .footer-last-part .footer-icons {
    justify-content: space-evenly;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}
body h1 {
  font-size: 5.6rem;
  font-weight: 700;
}
body h2 {
  font-size: 4rem;
  font-weight: 700;
}
body h3 {
  font-size: 1.4rem;
  font-weight: 700;
}
body h4 {
  font-size: 2.8rem;
  font-weight: 700;
}
body h5 {
  font-size: 2.4rem;
  font-weight: 700;
}
body h6 {
  font-size: 1.8rem;
  font-weight: 700;
}
body .overline {
  font-size: 1.4rem;
  font-weight: 400;
}
body .subtitle {
  font-size: 1.3rem;
  font-weight: 700;
}
body .body {
  font-size: 1.5rem;
  font-weight: 500;
}
